/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9; /* Cor de fundo suave, mantendo a consistência */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #1d3557; /* Cor de fundo similar ao cabeçalho anterior */
    color: white;
}

/* Container principal da página de detalhes */
.container {
    display: flex;
    max-width: 1200px;
    margin: 40
